html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn, .btn:focus, .btn:active, a:focus, input:focus, input:active
{
  border: none; !important;
  outline: none; !important;
  box-shadow: none; !important;
}
.navbar-toggler:focus
{
  outline: none !important;
  box-shadow: none;
}
